<div class="leo_tm_all_wrap" data-magic-cursor="show" data-enter="fadeInLeft" data-exit>

    <div class="leo_tm_topbar">
        <div class="topbar_inner">
            <div class="logo" data-type="image">
                <a class="image" href="#"><img src="assets/img/logo/logo.png" alt /></a>
                <a class="text" href="#"><span>L.Chukwu</span></a>
            </div>
            <div class="trigger">
                <div class="hamburger hamburger--slider">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="leo_tm_mobile_menu">
        <div class="inner">
            <div class="wrapper">
                <div class="avatar">
                    <div class="image" data-img-url="assets/img/about/1.jpg"></div>
                </div>
                <div class="menu_list">
                    <ul class="transition_link">
                        <li class="active"><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#service">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#news">Blog</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#"><img class="svg" src="assets/img/svg/social/facebook.svg" alt /></a></li>
                        <li><a href="#"><img class="svg" src="assets/img/svg/social/twitter.svg" alt /></a></li>
                        <li><a href="#"><img class="svg" src="assets/img/svg/social/instagram.svg" alt /></a></li>
                        <li><a href="#"><img class="svg" src="assets/img/svg/social/dribbble.svg" alt /></a></li>
                        <li><a href="#"><img class="svg" src="assets/img/svg/social/tik-tok.svg" alt /></a></li>
                    </ul>
                </div>
                <div class="copyright">
                    <p>Copyright &copy; 2024</p>
                </div>
            </div>
        </div>
    </div>
  
  
    <div class="leo_tm_sidebar">
        <div class="sidebar_inner">
            <div class="author">
                <div class="image">
                    <img src="assets/img/thumbs/1-1.jpg" alt />
                    <div class="main" data-img-url="assets/img/about/1.jpg"></div>
                </div>
                <div class="name">
                    <h3><span>Leo Chukwu<span class="back">Leo Chukwu</span></span></h3>
                </div>
            </div>
            <div class="menu scrollable">
                <ul class="transition_link">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#service">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#news">Blog</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="copyright">
                <div class="social">
                    <ul>
                        <li><a href="https://web.facebook.com/godwinleo.chukwu"><i class="icon-facebook-1"></i></a></li>
                        <li><a href="https://x.com/@chukwugodwinc"><i class="icon-twitter-1"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/chukwu-godwin-9904981b4"><i class="icon-linkedin-1"></i></a></li>
                        <li><a href="https://medium.com/@chukwugodwinc"><i class="icon-medium"></i></a></li>
                        <li><a href="https://in.pinterest.com/chukwugodwin/"><i class="icon-pinterest-1"></i></a></li>
                    </ul>
                </div>
                <div class="text">
                    <p>Copyright © 2024 Chukwu All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>  