
<div class="leo_tm_mainpart">
    <div class="mainpart_inner">

        <div class="leo_tm_section animated" id="home">
            <div class="leo_tm_home">
                <div class="tm_content">
                    <div class="details">
                        <div class="left">
                            <div class="title">
                                <h3>Hi, I'm <span class="blueColor">Leo!</span></h3>
                                <h3>
                                    <span class="cd-headline rotate-1">
                                        <span class="blc">Creative </span>
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible">Designer</b>
                                            <b>Coder</b>
                                            <b>Analyst</b>
                                            <b>Writer</b>
                                        </span>
                                    </span>
                                </h3>
                                <h3>Based in Lagos</h3>
                            </div>
                            <div class="subtitle">
                                <p>I'm a Lagos based Full-stack Web Developer, Writer, Data Analyst &amp; Graphics Designer <span
                                        class="blueColor">5+ years</span> of experience</p>
                            </div>
                            <div class="buttons">
                                <div class="leo_tm_button transition_link">
                                    <a href="#portfolio">Got a project?</a>
                                </div>
                                <div class="leo_tm_button transition_link" data-style="border">
                                    <a href="#contact">Let's talk</a>
                                </div>
                            </div>
                            <div class="info">
                                <ul>
                                    <li><a href="tel:+234 817 949 9919">+234 817 949 9919</a></li>
                                    <li> <a href="mailto:leoccukwu@gmail.com">{{email}}</a></li>
                                    <li><a class="href_location" href="#">Lagos, Nigeria</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <img src="assets/img/about/2.png" alt />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="leo_tm_section" id="about">
            <div class="leo_tm_about">
                <div class="tm_content">
                    <div class="leo_tm_biography">
                        <div class="left">
                            <div class="title">
                                <span class="mini">- Nice to meet you!</span>
                                <h3 class="name">Leo Chukwu</h3>
                                <span class="job">
                                    <span class="cd-headline rotate-1">
                                        <span class="blc">Web designer &amp;</span>
                                        <span class="cd-words-wrapper">
                                            <b class="is-visible">Developer</b>
                                            <b>Coder</b>
                                            <b>Data Analyst</b>
                                            <b>Writer</b>
                                        </span>
                                    </span>
                                </span>
                            </div>
                            <div class="leo_tm_button transition_link">
                                <a href="#portfolio">Got a project?</a>
                            </div>
                        </div>
                        <div class="right">
                            <div class="text">
                                <p>Hello there! My name is <span class="yellowColor">Leo Chukwu</span>. I am a
                                    web designer &amp; developer, writer and I'm very passionate and dedicated to my
                                    work.</p>
                                <p>With 10 years experience as a professional a graphic designer, data analysis, programmer and writer I have
                                    acquired the skills and knowledge necessary to make your project a success.
                                    I enjoy every step of the design process, from discussion and collaboration.
                                </p>
                            </div>
                            <div class="info">
                                <ul>

                                    <li>
                                        <span>Hobbies</span>
                                        <span><a class="href_location" href="#">Reading, Sport</a></span>
                                    </li>
                                    <li>
                                        <span>Mail</span>
                                        <span><a href="mailto:leoccukwu@gmail.com">{{email}}</a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>Phone</span>
                                        <span><a href="tel:+234 817 949 9919">+234 817 949 9919</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="leo_tm_counter">
                        <ul>
                            <li>
                                <div class="list_inner">
                                    <h3>10+</h3>
                                    <span>Years of Experience</span>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <h3>50+</h3>
                                    <span>Projects Completed</span>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <h3>30+</h3>
                                    <span>Happy Clients</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="leo_tm_experience">
                    <div class="tm_content">
                        <div class="leo_tm_title">
                            <span>- Experience</span>
                            <h3>Everything about me!</h3>
                        </div>
                        <div class="list">
                            <ul>
                                <li>
                                    <img class="popup_image" src="assets/img/experience/webdev.webp" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2024 - Present</span>
                                                <h3>Web Developer</h3>
                                            </div>
                                            <div class="place">
                                                <span>-TechBounders</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>TechBounder is a leading software development company 
                                                specializing in building scalable and dynamic web applications 
                                                and softwares. </p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Developing and Maintaining Websites: Create, test, 
                                                    and deploy websites or web applications, ensuring 
                                                    they are functional, user-friendly, and visually appealing. </p>
                                                <p>Collaborating with Cross-Functional Teams: Work closely 
                                                    with designers, product managers, and backend developers 
                                                    to integrate user-facing elements with server-side logic. .</p>
                                                <p>Debugging and Problem-Solving: Identify, troubleshoot, and 
                                                    fix bugs or issues in existing websites and applications</p>
                                                <p>Ensuring Security Compliance: Implement and maintain security
                                                    measures to protect websites and applications from vulnerabilities.</p>
                                                     
                                            </div>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <img class="popup_image" src="assets/img/experience/2.jpg" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2023 - 2024</span>
                                                <h3>IT Instructor</h3>
                                            </div>
                                            <div class="place">
                                                <span>-National Youth Service Corps</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>A one-year mandatory service to the nation to promote national unity, 
                                                and contribute to the country's development.</p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Teaching IT Concepts and Skills: Deliver lessons on various IT topics, 
                                                     to students or professionals. Ensure that the instruction is clear, 
                                                     accessible, and tailored to the learners' levels.</p>
                                                <p>Developing Course Materials: Create and update course content, 
                                                    including lesson plans, presentations, assignments, and assessments, 
                                                    to provide comprehensive and up-to-date information.</p>
                                                <p>Providing Hands-On Training and Support: Guide students through 
                                                    practical exercises, projects, and labs to reinforce theoretical
                                                     knowledge with real-world applications.</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>



                                <li>
                                    <img class="popup_image" src="assets/img/experience/2.jpg" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2020 - 2023</span>
                                                <h3>Content Writer</h3>
                                            </div>
                                            <div class="place">
                                                <span>-Recruitmentcv</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>Recruitmentcv is a content creation agency
                                                dedicated to producing high-quality, engaging content 
                                                for publication across diverse platforms. </p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Creating Engaging and Relevant Content: Write high-quality 
                                                    articles, blogs, social media posts, and other content 
                                                    types tailored to the target audience, ensuring clarity, 
                                                    accuracy, and engagement.</p>
                                                <p>IConducting Thorough Research: Perform in-depth research 
                                                    on industry-related topics to produce informative and 
                                                    credible content, staying up-to-date with trends and 
                                                    developments.</p>
                                                <p>Optimizing Content for SEO: Implement SEO best practices
                                                     by incorporating relevant keywords, meta tags, and 
                                                     internal links to improve content visibility and search 
                                                     engine ranking.</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <img class="popup_image" src="assets/img/experience/2.jpg" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2023 - 2024</span>
                                                <h3>Industrial Training</h3>
                                            </div>
                                            <div class="place">
                                                <span>-NIMC Secretariat</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>National Identity Management Commission (NIMC)  is responsible 
                                                for creating, managing, and maintaining the national identity database.</p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Assisting with Data Entry and Management: Input and update citizen 
                                                    information in the NIMC database, ensuring accuracy and compliance 
                                                    with data management protocols. </p>
                                                <p>Supporting Daily Office Operations: Provide general administrative 
                                                    support, including handling paperwork, filing documents, and 
                                                    assisting with the preparation of reports and presentations.</p>
                                                <p>Learning and Participating in Technical Tasks: Observe and 
                                                    assist in technical aspects of identity management, such as 
                                                    biometric data capture, IT systems maintenance, and troubleshooting 
                                                    under the supervision of NIMC staff. </p>
                                            </div>
                                        </div>

                                    </div>
                                </li>


                                <li>
                                    <img class="popup_image" src="assets/img/experience/3.jpg" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2013 - 2018</span>
                                                <h3>Graphics Designer</h3>
                                            </div>
                                            <div class="place">
                                                <span>-E-Graphical</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>E-Graphical is a design company specializing in crafting visually 
                                                stunning and innovative designs for brands across various industries.</p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Creating Visual Content: Design and develop a wide range of 
                                                    visual assets, including logos, brochures, advertisements, 
                                                    social media graphics, websites, and packaging, ensuring they 
                                                    align with the brand's identity and message.</p>
                                                <p>Collaborating with Clients and Teams: Work closely with clients,
                                                    marketing teams, and other stakeholders to understand project 
                                                    requirements, gather feedback, and ensure that the final designs 
                                                    meet their objectives and expectations.</p>
                                                <p>Staying Updated with Design Trends and Tools: Continuously learn 
                                                    and adapt to new design trends, software, and tools to create 
                                                    innovative and modern designs that resonate with current market 
                                                    demands and enhance the overall quality of the work.</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <img class="popup_image" src="assets/img/experience/4.jpg" alt />
                                    <div class="list_inner">
                                        <div class="short">
                                            <div class="job">
                                                <span class="yellowColor">-2013 - 2016</span>
                                                <h3>Data Analyst</h3>
                                            </div>
                                            <div class="place">
                                                <span>-Technosoft Technologies</span>
                                            </div>
                                        </div>
                                        <div class="text justify_text">
                                            <p>Technosoft Technologies is a premier data analytics company 
                                                specializing in transforming complex data into actionable 
                                                insights that drive business growth.</p>
                                        </div>
                                        <a class="leo_tm_full_link" href="#"></a>

                                        <div class="hidden_details">
                                            <div class="descriptions justify_text">
                                                <p>Collecting and Cleaning Data: Gather data from various 
                                                    sources, ensuring its accuracy and consistency. </p>
                                                <p>IAnalyzing and Interpreting Data: Use statistical methods, 
                                                    algorithms, and analytical tools to examine data, identify 
                                                    trends, patterns, and correlations, and generate insights 
                                                    that support decision-making.</p>
                                                <p>Reporting and Presenting Findings: Create reports, dashboards, 
                                                    and visualizations to effectively communicate analysis results 
                                                    to stakeholders, helping them understand the data and make 
                                                    informed business decisions.</p>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="leo_tm_section" id="service">
            <div class="leo_tm_services">
                <div class="tm_content">
                    <div class="leo_tm_service_title">
                        <div class="leo_tm_title">
                            <span>- Services</span>
                            <h3>My Services</h3>
                        </div>
                        <a href="mailto:leoccukwu@gmail.com">{{email}}</a>
                    </div>
                    <div class="service_list">
                        <ul>
                            <li>
                                <img class="popup_image" src="assets/img/service/2.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>01</span>
                                            <h3>Web Design</h3>
                                        </div>
                                        <div class="text">
                                            <p>Design and developing appealing & secure websites...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions justify_text">
                                            <p>Developing and Maintaining Websites: Create, test, 
                                                and deploy websites or web applications, ensuring 
                                                they are functional, user-friendly, and visually appealing. </p>
                                            <p>Collaborating with Cross-Functional Teams: Work closely 
                                                with designers, product managers, and backend developers 
                                                to integrate user-facing elements with server-side logic. .</p>
                                            <p>Debugging and Problem-Solving: Identify, troubleshoot, and 
                                                fix bugs or issues in existing websites and applications</p>
                                            <p>Ensuring Security Compliance: Implement and maintain security
                                                measures to protect websites and applications from vu
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="popup_image" src="assets/img/service/3.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>02</span>
                                            <h3>Data Analysis</h3>
                                        </div>
                                        <div class="text">
                                            <p>A professional data analyst...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions">
                                            <p>Collecting and Cleaning Data: Gather data from various 
                                                sources, ensuring its accuracy and consistency. </p>
                                            <p>IAnalyzing and Interpreting Data: Use statistical methods, 
                                                algorithms, and analytical tools to examine data, identify 
                                                trends, patterns, and correlations, and generate insights 
                                                that support decision-making.</p>
                                            <p>Reporting and Presenting Findings: Create reports, dashboards, 
                                                and visualizations to effectively communicate analysis results 
                                                to stakeholders, helping them understand the data and make 
                                                informed business decisions.</p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="popup_image" src="assets/img/service/4.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>03</span>
                                            <h3>Graphics Designer</h3>
                                        </div>
                                        <div class="text">
                                            <p>A graphic designer...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions justify_text">
                                            <p>Creating Visual Content: Design and develop a wide range of 
                                                visual assets, including logos, brochures, advertisements, 
                                                social media graphics, websites, and packaging, ensuring they 
                                                align with the brand's identity and message.</p>
                                            <p>Collaborating with Clients and Teams: Work closely with clients,
                                                marketing teams, and other stakeholders to understand project 
                                                requirements, gather feedback, and ensure that the final designs 
                                                meet their objectives and expectations.</p>
                                            <p>Staying Updated with Design Trends and Tools: Continuously learn 
                                                and adapt to new design trends, software, and tools to create 
                                                innovative and modern designs that resonate with current market 
                                                demands and enhance the overall quality of the work.</p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="popup_image" src="assets/img/service/5.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>04</span>
                                            <h3>Content Writer</h3>
                                        </div>
                                        <div class="text">
                                            <p>Web development is the process of building, programming...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions justify_text">
                                            <p>Creating Engaging and Relevant Content: Write high-quality 
                                                articles, blogs, social media posts, and other content 
                                                types tailored to the target audience, ensuring clarity, 
                                                accuracy, and engagement.</p>
                                            <p>IConducting Thorough Research: Perform in-depth research 
                                                on industry-related topics to produce informative and 
                                                credible content, staying up-to-date with trends and 
                                                developments.</p>
                                            <p>Optimizing Content for SEO: Implement SEO best practices
                                                 by incorporating relevant keywords, meta tags, and 
                                                 internal links to improve content visibility and search 
                                                 engine ranking.</p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="popup_image" src="assets/img/service/6.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>05</span>
                                            <h3>IT Instructor</h3>
                                        </div>
                                        <div class="text">
                                            <p>An IT instructor with ...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions">
                                            <p>Teaching IT Concepts and Skills: Deliver lessons on various IT topics, 
                                                to students or professionals. Ensure that the instruction is clear, 
                                                accessible, and tailored to the learners' levels.</p>
                                           <p>Developing Course Materials: Create and update course content, 
                                               including lesson plans, presentations, assignments, and assessments, 
                                               to provide comprehensive and up-to-date information.</p>
                                           <p>Providing Hands-On Training and Support: Guide students through 
                                               practical exercises, projects, and labs to reinforce theoretical
                                                knowledge with real-world applications.</p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <img class="popup_image" src="assets/img/service/7.jpg" alt />
                                <div class="list_inner">
                                    <div class="details">
                                        <div class="title">
                                            <span>06</span>
                                            <h3>App Developer</h3>
                                        </div>
                                        <div class="text">
                                            <p>An app developer with...</p>
                                        </div>
                                        <div class="leo_tm_read_more">
                                            <a href="#">Read More<span><img class="svg"
                                                        src="assets/img/svg/rightArrow.svg" alt /></span></a>
                                        </div>
                                    </div>
                                    <a class="leo_tm_full_link" href="#"></a>

                                    <div class="hidden_details">
                                        <div class="descriptions">
                                            <p>App Developer with expertise in designing, developing, and 
                                                maintaining high-performance mobile and web applications. 
                                                Skilled in multiple programming languages, and proficient 
                                                with frameworks such as Angular and Flutter. 
                                                Known for creating user-centric applications that deliver 
                                                seamless user experiences and solve complex problems. 
                                                Adept at collaborating with cross-functional teams, 
                                                integrating backend systems, and staying current with industry 
                                                trends and technologies to drive innovation and efficiency 
                                                in app development.</p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="leo_tm_section" id="portfolio">
            <div class="leo_tm_portfolio">
                <div class="tm_content">
                    <div class="leo_tm_portfolio_title">
                        <div class="leo_tm_title">
                            <span>- Projects</span>
                            <h3>Recent completed works</h3>
                        </div>
                        <div class="buttons">
                            <a class="prev_button" href="#"><img class="svg" src="assets/img/svg/prev.svg" alt /></a>
                            <a class="next_button" href="#"><img class="svg" src="assets/img/svg/next.svg" alt /></a>
                        </div>
                    </div>
                    <div class="portfolio_list">
                        <ul class="owl-carousel gallery_zoom">
                            <li>
                                <div class="list_inner">
                                    <div class="image">
                                        <img src="assets/img/thumbs/31-36.jpg" alt />
                                        <div class="main" data-img-url="assets/img/portfolio/11.png"></div>
                                        <a class="leo_tm_full_link popup-youtube"
                                            href="https://food-recipe-website-rho.vercel.app/"></a>
                                    </div>
                                    <div class="details">
                                        <span class="category"><a href="#">Chow</a></span>
                                        <h3 class="title"><a class="line_effect popup-youtube"
                                                href="https://food-recipe-website-rho.vercel.app/">Food Recipe</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="image">
                                        <img src="assets/img/thumbs/31-36.jpg" alt />
                                        <div class="main" data-img-url="assets/img/portfolio/12.png"></div>
                                        <a class="leo_tm_full_link soundcloude_link mfp-iframe audio"
                                            href="https://red-part-ecommerce.vercel.app/"></a>
                                    </div>
                                    <div class="details">
                                        <span class="category"><a href="#">Red-Part</a></span>
                                        <h3 class="title"><a
                                                class="line_effect soundcloude_link mfp-iframe audio"
                                                href="https://red-part-ecommerce.vercel.app/">Ecommerce</a></h3>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="list_inner">
                                    <div class="image">
                                        <img src="assets/img/thumbs/31-36.jpg" alt />
                                        <div class="main" data-img-url="assets/img/portfolio/13.png"></div>
                                        <a class="leo_tm_full_link soundcloude_link mfp-iframe audio"
                                            href="https://honey-bee-website.vercel.app"></a>
                                    </div>
                                    <div class="details">
                                        <span class="category"><a href="#">Honey-Bee</a></span>
                                        <h3 class="title"><a
                                                class="line_effect soundcloude_link mfp-iframe audio"
                                                href="https://honey-bee-website.vercel.app/">Store</a></h3>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <div class="image">
                                        <img src="assets/img/thumbs/31-36.jpg" alt />
                                        <div class="main" data-img-url="assets/img/portfolio/15.png"></div>
                                        <a class="leo_tm_full_link soundcloude_link mfp-iframe audio"
                                            href="https://3-d-flip-card.vercel.app/"></a>
                                    </div>
                                    <div class="details">
                                        <span class="category"><a href="#">Flip Card</a></span>
                                        <h3 class="title"><a
                                                class="line_effect soundcloude_link mfp-iframe audio"
                                                href="https://3-d-flip-card.vercel.app/">Animation</a></h3>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <div class="leo_tm_button" data-position="center">
                            <a href="https://vercel.com/leochukwus-projects" target="_blank">View all projects</a>
                        </div>
                    </div>
                </div>
            </div>
<!-- 
            <div class="leo_tm_partners">
                <div class="tm_content">
                    <div class="leo_tm_title">
                        <span>- Clients</span>
                        <h3>Customers &amp; clients</h3>
                    </div>
                    <div class="partners_inner">
                        <ul>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/1.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/2.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/3.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/4.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/5.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/6.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/7.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                            <li>
                                <div class="list_inner">
                                    <img src="assets/img/partners/8.png" alt />
                                    <a class="leo_tm_full_link" a href="#"></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->


            <div class="leo_tm_testimonial_wrapper">
                <div class="tm_content">
                    <div class="leo_tm_testimonials">
                        <div class="leo_tm_title" data-position="center">
                            <span>- Testimonial</span>
                            <h3>What client's say?</h3>
                        </div>
                        <div class="testimonials_list">
                            <ul class="owl-carousel owl-theme">
                                <li>
                                    <div class="text">
                                        <p>I rarely like to write reviews, but the Marketify team truly deserve
                                            a standing ovation for their customer support, customisation and
                                            most importantly, friendliness and professionalism.</p>
                                    </div>
                                    <div class="short">
                                        <div class="image">
                                            <div class="main" data-img-url="assets/img/testimonials/1.jpg"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>John Doe</h3>
                                        </div>
                                    </div>
                                    <p class="job">User Interface Design at PCL Lab</p>
                                </li>
                                <li>
                                    <div class="text">
                                        <p>Really the Code Quality, Customer Support, and design are awesome and
                                            its good support they are giving. They give an instant solution to
                                            our needs. Really awesome. I will strongly recommend to my friends.
                                        </p>
                                    </div>
                                    <div class="short">
                                        <div class="image">
                                            <div class="main" data-img-url="assets/img/testimonials/2.jpg"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>Keita Smith</h3>
                                        </div>
                                    </div>
                                    <p class="job">Senior Designer at Behance</p>
                                </li>
                                <li>
                                    <div class="text">
                                        <p>Loved the template design, documentation, customizability and the
                                            customer support from Marketify team! I am a noob in programming but
                                            the Marketify team helped me successfully.</p>
                                    </div>
                                    <div class="short">
                                        <div class="image">
                                            <div class="main" data-img-url="assets/img/testimonials/3.jpg"></div>
                                        </div>
                                        <div class="detail">
                                            <h3>Alan Walker</h3>
                                        </div>
                                    </div>
                                    <p class="job">Sales Manager at Vivaco Shop</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="leo_tm_section" id="news">
            <div class="leo_tm_news fn_w_sminiboxes">
                <div class="tm_content">
                    <div class="wrapper">
                        <div class="left fn_w_sminibox">
                            <div class="leo_tm_sticky_section">
                                <div class="leo_tm_title">
                                    <span>- Blog</span>
                                    <h3>My Publications</h3>
                                </div>
                                <div class="leo_tm_button transition_link">
                                    <a href="#contact">Get in touch</a>
                                </div>
                            </div>
                        </div>
                        <div class="right fn_w_sminibox">
                            <div class="leo_tm_sticky_section">
                                <div class="list">
                                    <ul>
                                        <li>
                                            <img class="popup_image" src='' alt />
                                            <div class="list_inner" *ngFor="let item of blogItem">
                                                <div class="info blogSpace">
                                                    <div class="meta">
                                                        <img class="svg" src="assets/img/svg/calendar.svg" alt />
                                                        <span>{{item.pubDate | date}}</span>
                                                    </div>
                                                    <div class="title">
                                                        <h3><a href={{item.link}}>{{item.title}}</a></h3>
                                                    </div>
                                                </div>
                                                <div class="leo_tm_read_more">
                                                    <a class="line_effect" href={{item.link}}>Read<span><img
                                                                class="svg" src="assets/img/svg/rightArrow.svg"
                                                                alt /></span></a>
                                                </div>

                                                <div class="news_hidden_details">
                                                    <div class="news_popup_informations">
                                                        <div class="text">
                                                            <p></p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="leo_tm_section" id="contact">
            <div class="leo_tm_contact">
                <div class="tm_content">
                    <div class="wrapper">
                        <div class="left">
                            <div class="leo_tm_title">
                                <span>- Let's Connect</span>
                                <h3>Get in touch</h3>
                            </div>
                            <div class="text">
                                <p>I'm currently avaliable to take on new projects, so feel free to send me a
                                    message about anything that you want to run past me. You can contact anytime
                                    at 24/7</p>
                            </div>
                            <div class="info">
                                <ul>
                                    <li><a href="tel:+234 817 949 9919">+234 817 949 9919</a></li>
                                    <li> <a href="mailto:leoccukwu@gmail.com">{{email}}</a></li>
                                    <li><a class="href_location" href="#">Lagos, Nigeria</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="right">
                            <div class="fields">
                                <form action="https://marketifythemes.net/" method="post" class="contact_form"
                                    id="contact_form">
                                    <div class="returnmessage"
                                        data-success="Your message has been received, We will contact you soon.">
                                    </div>
                                    <div class="empty_notice"><span>Please Fill Required Fields</span></div>
                                    <div class="first">
                                        <ul>
                                            <li>
                                                <input id="name" type="text" placeholder="Enter your name"
                                                    autocomplete="off">
                                            </li>
                                            <li>
                                                <input id="email" type="text" placeholder="Your email"
                                                    autocomplete="off">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="last">
                                        <textarea id="message" placeholder="Write something..."></textarea>
                                    </div>
                                    <div class="leo_tm_button">
                                        <a id="send_message" href="#">Submit now</a>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="leo_tm_map">
                        <div class="mapouter">
                            <div class="gmap_canvas"><iframe width="100%" height="375" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=Lagos,%20Nigeria&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                    href="https://www.embedgooglemap.net/blog/divi-discount-code-elegant-themes-coupon"></a><br>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        text-align: right;
                                        height: 375px;
                                        width: 100%;
                                    }
                                </style><a href="https://www.embedgooglemap.net/">how to add google map</a>
                                <style>
                                    .gmap_canvas {
                                        overflow: hidden;
                                        background: none !important;
                                        height: 375px;
                                        width: 100%;
                                    }
                                </style>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>